In [18]:
import pandas as pd
data_frame = pd.read_csv('data.csv')
data_frame.shape

(375612, 7)

In [19]:
data_frame.describe()

           Port Code         Value
count  375612.000000  3.756120e+05
mean     2450.353956  2.836221e+04
std      1202.656618  1.499999e+05
min       101.000000  0.000000e+00
25%      2304.000000  0.000000e+00
50%      3012.000000  1.200000e+02
75%      3401.000000  2.746250e+03
max      5301.000000  4.447374e+06